body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.form-container {
  position: absolute;
  top: 300px;
  left: 260px;
  display: flex;
  flex-direction: column;
}

.form-container input {
  font-size: 24px;
  height: 40px;
}

.form-container label {
  color: #fff;
  text-align: center;
}

.scores-table {
  width: 600px;
  position: absolute;
  top: 150px;
  left: 200px;
  color: #fff;
  font-size: 28px;
}

th {
  text-align: left;
}

#error-container {
  background-color: rgba(243, 23, 23, 0.7);
  line-height: 3rem;
  text-align: center;
}
